<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.mindlevel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CoordinatorActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MissionActivity"
            android:label="@string/title_activity_mission"
            android:launchMode="standard"
            android:parentActivityName=".CoordinatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>
        <activity
            android:name=".activity.AccomplishmentActivity"
            android:label="@string/title_activity_accomplishment"
            android:parentActivityName=".CoordinatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>
        <activity
            android:name=".activity.EditUserActivity"
            android:label="@string/title_activity_edit_user"
            android:parentActivityName=".CoordinatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:label="@string/title_activity_upload"
            android:parentActivityName=".CoordinatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
        <activity
            android:name=".activity.TermsActivity"
            android:label="@string/title_activity_terms">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.mindlevel"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>