<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.mindlevel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CoordinatorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ChallengeActivity"
            android:parentActivityName=".CoordinatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>

        <activity
            android:name=".activity.AccomplishmentActivity"
            android:parentActivityName=".CoordinatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>

        <activity
            android:name=".activity.EditUserActivity"
            android:parentActivityName=".CoordinatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>

        <activity
            android:name=".activity.UploadActivity"
            android:parentActivityName=".CoordinatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>

        <activity
            android:name=".activity.ChallengeSuggestionActivity"
            android:parentActivityName=".CoordinatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mindlevel.CoordinatorActivity"/>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:screenOrientation="portrait"
            android:label="" />

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_about" />

        <activity
            android:name=".activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:label="@string/tutorial" />

        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_chat" />

        <activity
            android:name=".activity.IntegrationActivity"
            android:screenOrientation="portrait"
            android:label="@string/integration_title" />

        <activity
            android:name=".activity.TermsActivity"
            android:screenOrientation="portrait"
            android:label="@string/terms_of_service" />

        <activity
            android:name=".activity.PrivacyActivity"
            android:screenOrientation="portrait"
            android:label="@string/privacy_policy" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>